@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mada:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100% - 150px);
    margin: auto;
}

a {
    text-decoration: none;
}

.active {
    font-weight: 800;
}

body {
    font-family: "Poppins", sans-serif;

    height: 22222px;
}

header {
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
    padding: 20px 0;
    box-shadow: 0px 1.65px 8.24px rgba(0, 0, 0, 0.10);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

header .container .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;



}

header .container .logo a {
    color: #545BE8;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
}


header .container nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

header .container nav ul li a {
    color: #101928;

}

header .container .auth {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;


}

header .container .auth a {
    padding: 9.35px 40px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 700;

}

header .container .auth .login {
    border: #545BE8 0.41px solid;
    color: #545BE8;
}

header .container .auth .register {
    background-color: #545BE8;
    color: white;
}


.courses{
    padding:40px 0px;
}
.courses-section{
     padding: 40px;
}

.courses .container{
     display: flex;
    gap: 30px;
}

 .courses-section {
    width: calc( (100% - 30px) / 1.5);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.courses-section .course-item {
    width: calc( (100% - 50px ) / 2);
    box-shadow: 0px 7.44px 7.44px 0px #0000000D;
    border-radius: 8px;

 

} 
.course-item img{
    width: 100%;
    display: flex;
    filter: brightness(70%);
    aspect-ratio: 135.09/99.08;
    
}
.course-card{
        position: relative;

}
.course-info{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
     display: flex;
    justify-content: space-between;
}
.course-card span:first-of-type{
    background-color: #545BE8;
    font-weight: 600;
    font-size: 20px;
    color: white;
    align-self: flex-start;
    margin-top:20px;
    padding :10px;
}
.course-card span:last-of-type{
    align-self: flex-end;
    padding: 20px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.course-item .first-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
    padding-top: 20px;
}
.course-item .second-row{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding:0px 10px;
    padding-bottom: 20px;
    color: #969696;
    font-size: 20px;

}
.course-item .first-row span:first-of-type{
    font-weight: 700;
    font-size: 25px;

}
.course-item .first-row span:last-of-type{
    color: #545BE8;

}

.courses-description{
    width: calc( (100% - 30px) / 2.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 40px;

}
.courses-description span{
    font-family: "Inter",sans-serif;
    color: #545BE8;
}
.courses-description h2{
    color: #141E32;
    font-weight: 700;
    font-size: 40px;
}
.courses-description p{
    color: #969696;

}
.courses-description a{
    padding: 9.35px 40px;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    background-color: #545BE8;
    color: white;
    width: 145px;
    text-align: center;
}



footer {
    background-color: #393E46 ;
}
footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 0px;

}
footer a{
    color:#F4F4F4;

}
.footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}
.footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer-start .icons img{
    width: 20px;
    height: 20px;
    border: white solid 1px;
    padding: 6px;
    box-sizing: content-box;
}
.footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap:7px;
    align-items: center;
}
.footer-start .logo img{
    width: 30px;
}
.footer-start .logo a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.footer-start  p{
    color: #F4F4F4;
    font-size: 14px;
    width: 400px;

}
.footer-start, .footer-end{
    width:calc((100% - 40px)/2) ;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}



footer h2{
    color:white;
    font-weight: 700;
    font-size: medium;
}
footer li{
    list-style-type: none;
}

footer li a{
    font-size: 12px;
    font-weight: 300;
}

.footer-end{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;

}


